h1,
h2,
h3,
h4,
h5,
h6,
p,
em {
  margin: 0;
  color: currentColor;
}

.caption {
  font-size: clamp(
    var(--font-caption-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-caption-max)
  );
}

.subtitle1 {
  font-size: clamp(
    var(--font-subtitle1-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-subtitle1-max)
  );
}

.body1 {
  font-size: clamp(
    var(--font-body1-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-body1-max)
  );
}

.body2 {
  font-size: clamp(
    var(--font-body2-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-body2-max)
  );
}

.heading4 {
  font-size: clamp(
    var(--font-heading4-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-heading4-max)
  );
}

.heading5 {
  font-size: clamp(
    var(--font-heading5-min),
    var(--font-preferred-value) + var(--font-ratio),
    var(--font-heading5-max)
  );
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.bold {
  font-weight: var(--font-weight-bold);
}
