.checkbox {
  opacity: 0;
  position: absolute;
}

.checkboxLabel {
  background-color: var(--background);
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 0px var(--shadow-toggle-container);
  color: var(--toggle-inactive);

  &:focus-within {
    outline: 2px solid var(--success-main);
    outline-offset: 0;
  }
}

.moonIcon,
.sunIcon {
  z-index: 2;
  width: 16px;
  height: 16px;
}

.moonIcon {
  margin-inline-start: 0.4375rem;
}

.sunIcon {
  margin-inline-end: 0.25rem;
}

.active {
  color: var(--toggle-active);
}

.ball {
  background-color: var(--background);
  z-index: 1;
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  border: thin solid var(--neutral-gray-100);
  transform: translateX(40px);
  box-shadow: -1px 0px 12px 0px var(--shadow-toggle-active);
}

.animation {
  transform: translateX(2px);
}

@media (prefers-reduced-motion) {
  .animation {
    animation: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .checkboxLabel {
    transition: outline 0.25s ease-in-out;
    &:hover {
      outline: 2px solid var(--success-main);
      outline-offset: 0;
    }
  }
}
