.modal {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100dvh;
  inset: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-main);
  animation: fadeIn 0.25s ease-in-out;
  display: flex;
}

.content {
  animation: slideIn 0.25s ease-in-out;
  transform-origin: top;
  position: absolute;
  box-shadow: -4px 0px 8px 0px var(--shadow-modal-content);
  background-color: var(--neutral-gray-50);
  top: 0;
  right: 0;
  width: 60%;
  max-width: 480px;
  height: 100%;

  &.confirmationStatus {
    align-self: center;
    border: thin solid var(--neutral-gray-50);
    border-radius: 24px;
    box-shadow: 0px 0px 16px 0px var(--shadow-content);
    margin-inline: auto;
    inset: 0;
    max-width: unset;
    min-width: 300px;
    min-height: 150px;
    width: fit-content;
    height: fit-content;

    .closeButton {
      display: none;
    }
  }
}

.closeButton {
  display: flex;
  position: relative;
  z-index: 100;
  align-items: center;
  justify-content: end;
  width: 100%;
  min-height: 48px;
  color: var(--custom2-main);
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.slideOut {
  animation: slideOut 0.25s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.25s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    transform: translateX(100%);
  }
}
