.button {
  width: 100%;
  min-height: 40px;
  border-radius: 40px;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: currentColor;

  &.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }

  &.primary,
  &.secondary,
  &.error,
  &.success {
    box-shadow: 0px 4px 40px 0px var(--shadow-button);
  }

  &.primary {
    background-color: var(--success-main);
    color: var(--success-text-contrast);
  }

  &.secondary {
    border: 2px solid var(--success-main);
  }

  &.error {
    background-color: var(--error-main);
    color: var(--error-main);

    &.outline {
      background-color: transparent;
      border: 2px solid var(--error-main);
    }
  }

  &.success {
    background-color: var(--success-main);
    color: var(--success-text-contrast);
  }

  &.search {
    background: linear-gradient(
      var(--gradient-main-start),
      var(--gradient-main-end)
    );
  }
}

@media (hover: hover) and (pointer: fine) {
  .button {
    &.secondary {
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: var(--success-main);
        color: var(--success-text-contrast);
      }
    }
    &.error {
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: var(--error-main);
        color: var(--error-text-contrast);
      }
    }
    &.success,
    &.primary {
      transition: border 0.25s ease-in-out;
      &:hover {
        border: thin solid var(--foreground);
      }
    }
  }
}
