.tableContainer {
  border: thin solid var(--neutral-gray-300);
  border-radius: 24px;
  padding: 1rem;
  margin-block-end: 1rem;
  background-color: var(--neutral-gray-50);
  color: var(--neutral-gray-800);
  height: 100%;
}

.tableHeader {
  padding-bottom: 1rem;
}

.tableHeaderContainer {
  display: flex;
  gap: 0.25rem;

  svg {
    width: 16px;
    height: 16px;
  }
}

.tableContent {
  width: 100%;
  border-spacing: 0;
}

.tableHeaderCell {
  cursor: pointer;
  text-align: left;
  border-bottom: thin solid var(--neutral-gray-300);
  color: var(--neutral-gray-800);
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;

  p {
    display: flex;
    gap: 0.25rem;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &.alignRight {
    p {
      justify-content: end;
    }
  }
}

.tableCellContent {
  &:last-of-type {
    text-align: right;
  }
}

.hiddenOnMobile {
  display: none;
}

.hiddenOnMobileAndTablet {
  display: none;
}

.alwaysHidden {
  display: none;
}

.tableEmptyState {
  text-align: center;
}

@media (min-width: 768px) {
  .tableContainer {
    padding: 1.5rem;
  }

  .hiddenOnMobile {
    display: table-cell;
  }
}

@media (min-width: 992px) {
  .hiddenOnMobileAndTablet {
    display: table-cell;
  }
}

@media (hover: hover) and (pointer: fine) {
  .tableHeaderCell {
    transition: color 0.25s ease-in-out;
    &:hover {
      color: var(--custom2-main);
    }
  }
}
