.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.25s;
  padding-right: 1rem;

  .navList {
    list-style: none;
    padding: 0;
  }

  .collapse {
    appearance: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    border-top: thin solid var(--neutral-gray-300);
    color: var(--main);
    svg {
      height: 1rem;
    }
  }

  &.collapsed {
    width: 64px;
    align-items: center;

    .collapseLabel {
      display: none;
    }

    .collapse {
      justify-content: center;
      svg {
        transform: rotate(180deg);
      }
      .collapseLabel {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar {
    grid-area: sidebar;
    width: 15rem;
  }
}
