html,
body {
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  color: var(--main);
}
#root {
  height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: var(--neutral-gray-100);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

@media (min-width: 768px) {
  #root {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}

@media (min-width: 1200px) {
}
