html {
  --header-height: 4rem;

  --toggle-width: 76px;
  --toggle-height: 36px;

  --card-min-width: 15rem;

  --background: hsla(0, 0%, 100%, 1);
  --foreground: hsla(0, 0%, 0%, 1);

  --primary-main: hsla(155, 87%, 43%, 1);
  --primary-light: hsl(149, 100%, 83%, 1);
  --primary-dark: hsla(155, 100%, 22%, 1);
  --primary-text-contrast: hsla(90, 6%, 7%, 1);

  --secondary-main: hsla(189, 59%, 57%, 1);
  --secondary-light: hsla(189, 100%, 90%, 1);
  --secondary-dark: hsla(188, 61%, 27%, 1);
  --secondary-text-contrast: hsla(90, 6%, 7%, 1);

  --custom1-main: hsla(254, 85%, 71%, 1);
  --custom1-light: hsla(245, 72%, 87%, 1);
  --custom1-dark: hsla(254, 60%, 33%, 1);
  --custom1-text-contrast: hsla(90, 6%, 7%, 1);

  --custom2-main: hsla(203, 52%, 13%, 1);
  --custom2-light: hsla(203, 51%, 20%, 1);
  --custom2-dark: hsla(205, 59%, 6%, 1);
  --custom2-text-contrast: hsla(0, 0%, 98%, 1);

  --warning-main: hsla(30, 100%, 63%, 1);
  --warning-light: hsla(41, 81%, 80%, 1);
  --warning-dark: hsla(30, 85%, 34%, 1);
  --warning-text-contrast: hsla(90, 6%, 7%, 1);

  --success-main: hsla(155, 87%, 43%, 1);
  --success-light: hsla(149, 100%, 83%, 1);
  --success-dark: hsla(155, 100%, 22%, 1);
  --success-text-contrast: hsla(90, 6%, 7%, 1);

  --error-main: hsla(3, 57%, 52%, 1);
  --error-light: hsla(3, 91%, 77%, 1);
  --error-dark: hsla(3, 86%, 27%, 1);
  --error-text-contrast: hsla(0, 0%, 98%, 1);

  --info-main: hsla(189, 59%, 57%, 1);
  --info-light: hsla(189, 100%, 90%, 1);
  --info-dark: hsla(188, 61%, 27%, 1);
  --info-text-contrast: hsla(90, 6%, 7%, 1);

  --neutral-gray-50: hsla(0, 0%, 98%, 1);
  --neutral-gray-100: hsla(0, 0%, 96%, 1);
  --neutral-gray-200: hsla(0, 0%, 93%, 1);
  --neutral-gray-300: hsla(0, 0%, 88%, 1);
  --neutral-gray-400: hsla(0, 0%, 74%, 1);
  --neutral-gray-500: hsla(0, 0%, 62%, 1);
  --neutral-gray-600: hsla(0, 0%, 46%, 1);
  --neutral-gray-700: hsla(0, 0%, 38%, 1);
  --neutral-gray-800: hsla(0, 0%, 26%, 1);
  --neutral-gray-900: hsla(0, 0%, 13%, 1);

  --shadow-main: hsla(0, 0%, 0%, 0.2);

  --shadow-status: hsla(0, 0%, 0%, 0.25);

  --shadow-toggle-container: hsla(0, 0%, 0%, 0.1);
  --shadow-toggle-active: hsla(0, 0%, 0%, 0.05);

  --shadow-nav-item: rgba(0, 0, 0, 0.05);

  --shadow-content: rgba(0, 0, 0, 0.07);

  --shadow-modal-content: hsla(0, 0%, 47%, 0.1);

  --overlay-main: hsla(0, 0%, 0%, 0.08);

  --gradient-main-start: hsla(155, 87%, 43%, 1);
  --gradient-main-end: hsla(189, 59%, 57%, 1);

  --toggle-active: var(--custom2-main);
  --toggle-inactive: var(--neutral-gray-300);

  /*
    More on Fluid Typography:
    
    - https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/
    - https://modern-fluid-typography.vercel.app/
  */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-preferred-value: 2vw;
  --font-ratio: 1rem;

  --font-heading1-min: 2.5rem;
  --font-heading2-min: 2rem;
  --font-heading3-min: 1.75rem;
  --font-heading4-min: 1.5rem;
  --font-heading5-min: 1.25rem;
  --font-heading6-min: 1.125rem;
  --font-subtitle1-min: 1rem;
  --font-body1-min: 1rem;
  --font-body2-min: 0.875rem;
  --font-caption-min: 0.75rem;

  --font-heading1-max: 4.5rem;
  --font-heading2-max: 3.75rem;
  --font-heading3-max: 3rem;
  --font-heading4-max: 2.25rem;
  --font-heading5-max: 1.5rem;
  --font-heading6-max: 1.25rem;
  --font-subtitle1-max: 1.125rem;
  --font-body1-max: 1rem;
  --font-body2-max: 0.875rem;
  --font-caption-max: 0.75rem;

  &.dark {
    --background: hsla(0, 0%, 0%, 1);
    --foreground: hsla(0, 0%, 100%, 1);

    --custom2-main: hsla(0, 0%, 98%, 1);
    --custom2-light: hsla(205, 59%, 6%, 1);
    --custom2-dark: hsla(203, 51%, 20%, 1);
    --custom2-text-contrast: hsla(203, 52%, 13%, 1);

    --primary-text-contrast: hsla(0, 0%, 98%, 1);

    --neutral-gray-50: hsla(0, 0%, 11%, 1);
    --neutral-gray-100: hsla(0, 0%, 16%, 1);
    --neutral-gray-200: hsla(0, 0%, 20%, 1);
    --neutral-gray-300: hsla(0, 0%, 29%, 1);
    --neutral-gray-400: hsla(0, 0%, 36%, 1);
    --neutral-gray-500: hsla(0, 0%, 46%, 1);
    --neutral-gray-600: hsla(0, 0%, 62%, 1);
    --neutral-gray-700: hsla(0, 0%, 74%, 1);
    --neutral-gray-800: hsla(0, 0%, 88%, 1);
    --neutral-gray-900: hsla(0, 0%, 93%, 1);

    --shadow-main: hsla(0, 0%, 0%, 0.5);

    --shadow-toggle-container: hsla(0, 0%, 93%, 0.1);
    --shadow-toggle-active: hsla(0, 0%, 93%, 0.05);

    --overlay-main: hsla(0, 0%, 0%, 0.12);

    --toggle-active: var(--neutral-gray-700);
    --toggle-inactive: var(--neutral-gray-300);
  }
}
